
.App {
  text-align: center; 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
/* Styles for the filter form */


.filter input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin:10px;
}

/* Styles for the film list */
.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 200px;
 background-color: rgb(234, 255, 6); 
}

/* Styles for individual film cards */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
  font-size: 14px;
}
/* Style du formulaire */
.form-container {
  background-color: #ccc;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
h1{
  text-decoration: underline;
  text-align: center;
}
/* Style des champs de saisie */
.form-input {
  display:flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
 
}

/* Style du bouton */
.form-button {
  width: 40%;
  padding: 0px;
  background-color: #020202;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 10px;
 }
/* Style des messages d'erreur */
.error-message {
  color: red;
}
 
.divv{
  background-color: #ccc;
  width: 200px;
}
.divv ul {
  list-style-type: none;
}

.divv h2 {
  text-decoration: underline;
 
}
.nav{
  background-color: #010101fd;
  display: flex;
  flex-direction: row;
}
.nav link{
  text-decoration: none;
}
.nav{
   display: flex ;
   justify-content: space-evenly;
   text-decoration: none;
 }
 .nav a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}
