.App{
  background: #79932c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}
/* App.css */
/* Styles for the filter form */


.filter input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin:10px;
}

/* Styles for the film list */
.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 200px;
background-color: rgb(121, 146, 30);
}

/* Styles for individual film cards */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
  font-size: 14px;
}
/* Style du formulaire */
.form-container {
  background-color: #ccc;
  width: 200px;
  margin: 0 auto;
 
}
h1{
  text-decoration: underline;
}
/* Style des champs de saisie */
.form-input {
  display:flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

/* Style du bouton */
.form-button {
  width: 40%;
  padding: 0px;
  background-color: #040404;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 10px;
 }
/* Style des messages d'erreur */
.error-message {
  color: red;
}
